div.actions{
	float: left;
	width: 49%;
	overflow: hidden;
}
div.replies{
	float: right;
	width: 49%;
	overflow: hidden;
}
ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
}
div.actions ul.list li{
	padding: 0 0 0 5px;
	margin: 10px 0 0 0;
	border-left: solid 2px #000;
}