
#leftPanel {
    width: 400px;
    background-color: #dcdcdc;
    padding: 10px;
    display: block;
    float: left;
}

#contentPanel {
    margin-left: 440px;
}
#contentPanel iframe {
    width: 100%;
}